In [ ]:
# Download file
!pip install --upgrade gdown
!gdown --fuzzy 1A_sgyUxbcfQmeKRvIsn1zh6GjdAMti3f

# Read hw1.csv file and plot figure for visulization

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('hw1.csv')
df

,report_id,hospital_id,transfer_idx,disease,disease2,death_1m,age,sex,weight,height
0,R0001190,H0032093,2,False,-1,False,91,1,40,153
1,R0001575,H0082188,6,False,-1,False,64,1,67,181
2,R0002763,H0031789,2,False,-1,False,61,1,56,151
3,R0002510,H0092355,6,False,-1,False,52,0,47,176
4,R0001296,H0088464,3,True,0,False,65,0,64,157
...,...,...,...,...,...,...,...,...,...,...
3065,R0002152,H0019197,1,True,2,False,90,1,51,144
3066,R0002901,H0024731,1,True,2,True,71,1,50,155
3067,R0000675,H0091312,0,True,1,False,45,1,52,174
3068,R0000638,H0092408,1,False,0,False,50,1,40,157
3069,R0000231,H0088047,0,True,1,False,93,1,85,178

#### Q1: Calculate how many unique **report_id** and **hospital_id** ?

**HINT: np.unique**

#### Q2: Create a new column named **BMI**

**HINT**: https://zh.wikipedia.org/wiki/%E8%BA%AB%E9%AB%98%E9%AB%94%E9%87%8D%E6%8C%87%E6%95%B8

#### Q3: Use Matplotlib to plot figures for the columns, figure type is up to you (bar, plot, histogram , scatter ... etc)